# This is Git's per-user configuration file.
# be sure to install https://github.com/dandavison/delta
# delta is cool, but it doesn't really play well with a containerized environment
[user]
	name = Krueger, John
	email = john.krueger@nrel.gov

[core]
	excludesfile = /Users/jkrueger/.gitignore
  editor = vim

[delta]
  line-numbers = true
  navigate = true

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[push]
  default = current

[interactive]
  diffFilter = delta --color-only

[diff]
  colorMoved = default

[stash]
  showPatch = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[submodule]
	recurse = true
[merge]
	conflictstyle = zdiff3
