# This is Git's per-user configuration file.
# be sure to install https://github.com/dandavison/delta
[user]
  name = John Krueger
  email = john.krueger@nrel.gov

[core]
  excludesfile = /Users/jkrueger/.config/git/ignore

[delta]
  line-numbers = true
  navigate = true

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only

[diff]
  colorMoved = default

[stash]
  showPatch = true
