set visualbell
set noerrorbells
set number
set surround
set commentary
set clipboard+=unnamed
set incsearch
set ignorecase
set smartcase
set wildmenu

" Reselect visual block after indent
vnoremap < <gv
vnoremap > >gv

" Easier to type, and I never use the default behavior.
noremap H ^
noremap L $
vnoremap L g_

map <C-h> <Nop>

" this doesn't actually work yet :(
map <C-t> <F12>
